ul{
    list-style:none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:max-content;
}
.profile{
 display: flex;
 gap:0.2em;
}
.bottom{
    position: fixed;
    bottom:2rem;
    left:0;
    width: 90vw;
    margin-inline:5vw;
    background:linear-gradient(180deg, rgb(var(--primary-offset-color),0.7) 5.21%, rgba(var(--secondary-color),0.7) 86.98%);
    box-shadow: 6px 8px 7.26993px 1px rgba(var(--primary-color), 0.4);
    padding: 0.95em 2em;
    padding-top: 1.5em;
    border-radius: 1.5em;
    justify-content: space-around;
    gap:2.5em;
}
.top{
    position: relative;
    gap:10%;
}
.wave{
    opacity: 0.75;
    position: absolute;
    top:100%;
    left:-1.1em;
    z-index:-1;
}
.wave>img{
    max-width: 101vw;
    width:101vw;
}
.mainNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1.5em;
}
li{
    position: relative;
}
.logout>button{
    width: 100%;
    background-color: rgba(var(--primary-color),1);
    color:rgba(var(--secondary-color),1);
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.2em;
    padding-block: 0.5em;
    padding-inline: 0.5em;
    border:0;
    border-radius: 0.4em;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.logout>button:hover{
    background-color: rgba(var(--primary-light-color),1);
    color:black;
}
.activeLi{
    position: absolute;
    height: 2px;
    width: 90%;
    background-color: rgba(var(--primary-color),1) ;
    bottom:110%;
    left:5%;

}
@media (min-width:1024px){
    .activeLi{
        position: absolute;
        height: 3px;
        width: 90%;
        background-color: rgba(var(--primary-color),1) ;
        bottom:-10px;
        left:5%;
    }

}

#flash_container{
    display: flex;
    flex-direction: column;
    gap:0.5em;
    position: absolute;
    top:15%;
    right:50%;
    transform: translateX(50%);
    z-index:10;
    width: 40%;
  }
  .flash{
    opacity: 0;
    padding: 0.25em 0.5em;
    background-color: rgba(var(--light_color),0.95);
    border: 0.1em solid rgba(var(--primary_color),1);
    border-radius: 0.25em;
    display: flex;
    gap:1em;
    align-items: center;
    transition: opacity 200ms ease-in-out;
  }
  .flash.error{
    background-color: rgba(var(--danger_color),0.95);
  }
  .flash.info{
    background-color: rgba(var(--info_color),0.95);
  }
  .flash.warning{
    background-color: rgba(var(--warning_color),0.95);
  }
