.container{
   margin-inline:auto;
   width:80%;
   height: 70vh;
   padding:0.5em 1em;
   margin-top:5em;
   overflow-y: scroll;
   background-color: rgba(var(--primary-offset-color),1);
}
.container>p{
    margin-inline: auto;
    width: max-content;
    font-size: 1.5em;
}
table{
    width: 100%;
    border:1px solid black;
    z-index:11;
    overflow-y: scroll;
}
td,th {
    border:1px solid black;
    padding: 0.5em 1.5em;
}
td>a{
    cursor: pointer;
    text-decoration: none;
    color:red;


}