.loginPage {
  height: 95vh;
  width: 95vw;
  overflow-x: hidden;
  overflow-y: scroll;
}
.overlay{

}
.overlay::after{
  content: '';
  position:absolute;
  height: 100vh;
  width: 100vw;
  top:0;
  left:0;
  background-color: rgba(200,200,200,0.5);
}
.loginContainer {
  font-size: 0.8em;
}
.cloud {
  position: absolute;
  opacity: 1;
  top: 5%;
  right: -18%;
  z-index: -1;
  transform: rotate(-120deg) scale(180%);
}
.illus {
  margin-top: -7vh;
  opacity: 0.9;
  width: 130%;
  margin-left: -15%;
}
.illus > img {
  transform: translate(150%);
}
.loginForm {
  margin-inline: auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  font-weight: 500;
  margin-top: -10%;
}
.loginForm > * {
  display: block;
  width: 100%;
  transform: translateX(150%);
}
.loginForm > h3 {
  font-size: 1.5em;
  letter-spacing: 0.15em;
  text-align: left;
}
.fields {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.verticalDivider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75em;
}
.verticalDivider > hr {
  width: 100%;
}
.googleBtn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.75em;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 1em;
  font-weight: 500;
  padding-block: 0.5em;
  border: 0;
  border-radius: 0.4em;
  cursor: pointer;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
.googleBtn:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.googleBtn:hover > input {
  color: white;
}
.googleBtn > input {
  border: 0;
  background-color: transparent;
}

.signUpLink {
  margin-top: -1em;
}
@media (min-width: 360px) {
  .loginContainer {
    font-size: 1em;
  }
  .illus {
    opacity: 0.9;
    width: 100%;
    margin-left: 0;
  }
}
@media (min-height: 720px) {
  .illus {
    width: 130%;
    margin-left: -15%;
  }
  .loginContainer {
    font-size: 0.9em;
  }
}
@media (min-height: 844px) {
  .loginContainer {
    font-size: 1.2em;
  }
}
@media (min-height: 914px) {
  .loginContainer {
    font-size: 1.4em;
  }
}
@media (min-width: 540px) {
  .illus {
    width: 90%;
    margin-left: 5%;
  }
  .cloud {
    right: -12%;
  }
}
@media (min-width: 768px) {
  .loginContainer {
    font-size: 1.5em;
  }
}
@media (min-width: 912px) {
  .loginContainer {
    font-size: 2.2em;
  }
}
@media (min-width: 1024px) {
  .loginPage {
    height: 90vh;
    width: 90vw;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    background-color: #e4efe7;
    isolation: isolate;
  }
  .loginContainer {
    width: 48%;
    min-height: 43.5em;
    max-width: 100%;
    background-color: white;
    font-size: 0.7em;
    padding-block: 0.75em;
    border-radius: 2em;
    position: relative;
    overflow-x: hidden;
    isolation: isolate;
  }
  .loginForm {
    gap: 2em;
  }
  .illus {
    margin-top: -10%;
  }
  .cloud {
    right: -17%;
  }
  .company {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
  }
  .logo {
    transform: rotate(-10deg);
  }
  .company > p {
    font-size: 1.75em;
    font-weight: 800;
  }
  .desktopDecoration {
    position: absolute;
    width: 60%;
    height: max-content;
    top: 0;
    right: 5%;
    z-index: -1;
    filter: opacity(0.75);
  }
  .illustrationGrid {
    display: grid;
    grid-template-columns: 100fr 1fr 100fr 1fr 100fr;
    width: 100%;
    height: max-content;
  }
  .illustrationGrid > div {
    width: 100%;
  }
  .illustrationGrid > div > img {
    margin-inline: auto;
    width: 100%;
    aspect-ratio: 1/1;
    transform: scale(80%);
  }
  .illustrationGrid > * {
    border-bottom: 6px solid rgb(var(--secondary-color));
  }
  .vertical {
    height: 100%;
    border: 0;
    background-color: rgb(var(--secondary-color));
    width: 6px;
  }
}
@media (min-width: 1280px) {
  .loginContainer {
    font-size: 1em;
  }
  .company > p {
    font-size: 2em;
    font-weight: 800;
  }
}
