.btn {
    border:0;
    background-color: transparent;
    display:flex;
    align-items: center;
    --md-icon-size:2em;
    width: max-content;
    cursor:pointer; 
    gap:0.5em;
    position: relative;
    font-size:0.75em;
}
.btn>p>span{
    font-weight: 700;
    letter-spacing: 0.1em;
    color:rgba(var(--primary-color),1);
    text-align:left;
    font-size:0.75em;
}
.md{
    width: 2.75em;
}
.sm+p>img{
    width:1em;
    margin-left: -0.5em;
}
.sm{
    width: 2.25em;
    aspect-ratio: 1/1;
}
.shadow{
    filter: drop-shadow(6px 11px 6px rgba(var(--primary-color), 0.5));
}
@media (min-width:375px){
    .btn{
        font-size: 0.85em;
    }  
}
@media (min-width:414px){
    .btn{
        font-size: 1em;
    }  
}

@media (min-width:540px){
    .btn{
        font-size: 1.25em;
    }
}
@media (min-width:768px){
    .btn{
        font-size:1.5em;
    }
}

@media(min-width:1024px){
    .btn{
        font-size:1em;
    }

}
@media(min-width:1280px){
    .btn{
        font-size:1.15em;
    }

}